*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  background-color: #f9f9f9;
  /* overflow: hidden; */
}

/* NAVBAR */
nav div {
  display: flex;
  gap: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  font-weight: 700;
  font-size: larger;
}

nav {
  padding: 20px 82px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

nav span {
  color: #40a2e3;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #191919;
  padding: 4px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid #40a2e300;
}

nav ul li a:hover {
  color: #40a2e3;
  border-bottom: 1px solid #40a2e3;
}

.menu-icon {
  font-size: 26px;
  display: none;
}

@media only screen and (max-width: 768px) {
  /* NAVBAR */

  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
  }

  main {
    padding-top: 5rem;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}

/* main */
.home-container {
  background: #efefef;
  width: 100%;
  height: 600px;
  margin-top: 65px;
}

.home-header {
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  color: #191919;
}
.home-header p {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: #505050;
}

.banner-slider {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.slide-container {
  position: relative;
  width: 800px;
  height: 350px;
  border: 3px solid #67adb9;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}
.slide-container .slides {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}
.slide-container .slides img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.slide-container .slides img:not(.active) {
  top: 0;
  left: -100%;
}
span.next,
span.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}
span.next {
  right: 20px;
}
span.prev {
  left: 20px;
}
span.next:hover,
span.prev:hover {
  background-color: #ffffff;
  opacity: 0.8;
  color: #67adb9;
}
.dotsContainer {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.dotsContainer .dot {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
  border: 3px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.dotsContainer .active {
  background-color: #67adb9;
}

@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

/* package  */
.package-container {
  background: #efefef;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.package-container > .package-wrapper-left {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 38%;
  height: 80%;
  border: 1px solid rgba(128, 128, 128, 0.753);
  margin-left: 80px;
  background: #f9f9f9;
  border-radius: 20px;
  /* padding-top: 40px; */
  -webkit-box-shadow: 0px 4px 69px -41px rgba(51, 59, 111, 1);
  -moz-box-shadow: 0px 4px 69px -41px rgba(51, 59, 111, 1);
  box-shadow: 0px 4px 69px -41px rgba(51, 59, 111, 1);
}

.package-container > .package-wrapper-left > .foto-gwa {
  overflow: hidden;
  height: 380px;
  width: 100%;
  border-radius: 19px 19px 120px 120px;
  padding-left: 50px;
  /* border: 1px solid #505050; */
  -webkit-box-shadow: inset 0px -27px 100px -31px rgba(51, 59, 111, 1);
  -moz-box-shadow: inset 0px -27px 100px -31px rgba(51, 59, 111, 1);
  box-shadow: inset 0px -27px 100px -31px rgba(51, 59, 111, 1);
  background: #67adb9;
}

.package-container > .package-wrapper-left > .biodata > h1 {
  padding: 15px;
  font-weight: 700;
  font-size: 25px;
  color: #505050;
}

.slider {
  width: 80%;
  height: 12%;
  overflow: hidden;
  /* margin: 0 auto; */
  padding-left: 60px;
}

.slider .text {
  position: relative;
  color: #40a2e3;
  font-size: 20px;
  font-weight: 700;
}

.slider .text.first-text {
  color: #505050;
}

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  border-left: 2px solid #40a2e3;
  /* border: 1px solid greenyellow; */
  animation: animate 4s steps(14) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

.package-container > .package-wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46%;
  height: 80%;
  margin-right: 80px;
  border: 1px solid rgba(128, 128, 128, 0.753);
  background: #f9f9f9;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 69px -41px rgba(51, 59, 111, 1);
  -moz-box-shadow: 0px 4px 69px -41px rgba(51, 59, 111, 1);
  box-shadow: 0px 4px 69px -41px rgba(51, 59, 111, 1);
}

.package-container > .package-wrapper-right > .package-header {
  margin: 0 0 20px 0;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
}

.package-container > .package-wrapper-right > .package-header > .garis {
  width: 4px;
  height: 50px;
  background-color: #40a2e3;
  border-radius: 50px;
}

.package-container > .package-wrapper-right > .package-header > p {
  width: 90%px;
  height: 50px;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-weight: 600;
  font-size: 25px;
}
.package-container > .package-wrapper-right > .package-content {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #505050;
}

.package-container > .package-wrapper-right > .package-content > p {
  width: 80%;
  /* border: 1px solid; */
}

.wrapper-info {
  background-color: #f9f9f9;
  width: 80%;
  height: 240px;
  margin-top: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.info-table {
  width: 100%;
  height: 100%;
  /* margin: 50px auto; */
  border-collapse: collapse;
}

.info-table td,
.info-table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.info-table th {
  background-color: #fbfbfb;
  height: 30px;
  font-weight: 700;
  font-size: 20px;
}

.contact-container {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #67adb9;
  padding: 0 80px;
}

.footer-section {
  width: 45%;
  height: 90%;
  /* border: 1px solid; */
  padding-top: 30px;
}

.contact-container > .footer-section > .social {
  color: white;
  padding: 20px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.contact-container > .footer-section > .social > .social-icons {
  padding: 14px 0;
  width: 100px;
  font-size: 14px;
  display: flex;
}

.contact-container .footer-section .social .github-icon {
  border: 1px solid white;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  list-style: none;
  transition: 0.5s all ease;
}

.contact-container .footer-section .social .github-icon a {
  color: white;
  transition: 0.5s all ease;
}

.contact-container .footer-section .social .ig-icon a {
  color: white;
  transition: 0.5s all ease;
}

.contact-container .footer-section .social .ig-icon {
  border: 1px solid white;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all ease;
}

.contact-container .footer-section .social .github-icon:hover {
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 0px 0px 100px -40px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 100px -40px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 100px -40px rgba(255, 255, 255, 1);
}
.contact-container .footer-section .social .github-icon a:hover {
  font-size: 18px;
}
.contact-container .footer-section .social .ig-icon:hover {
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 0px 0px 100px -40px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 100px -40px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 100px -40px rgba(255, 255, 255, 1);
}
.contact-container .footer-section .social .ig-icon a:hover {
  font-size: 18px;
}

.contact-container > .footer-section > .about-footer p {
  color: white;
  padding: 0 20px 20px 20px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.contact-container > .footer-section > .about-footer > h3 {
  color: #efefef;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 200;
  /* border: 1px solid; */
  width: 80%;
  margin-left: 20px;
  margin-top: -10px;
}

.contact-section {
  width: 45%;
  height: 90%;
  border: 1px solid;
  padding: 20px;
}
